Package: certnotify
Version: 1.0.5
Architecture: all
Maintainer: Melody Smit <linux@personaltardis.me>
Description: Python programme to check configured certificates for exp
Depends: python3 (>=3.10), python3-pip, python3-venv
